<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Notas Guardadas</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Estudiante</th>
            <th>Observacion</th>
            <th>Valor</th>
            <th>%</th>
        </tr>
        </thead>
        <tbody id="notas-list">
        <!-- Aquí se mostrarán las personas -->
        </tbody>
    </table>


    <script src="/js/listNote.js"></script>

</body>
</html>