<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Notas Guardadas</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Estudiante</th>
            <th>Observacion</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nota : ${notas}">
            <td th:text="${nota.id}"></td>
            <td th:text="${nota.materia}"></td>
            <td th:text="${nota.profesor}"></td>
            <td th:text="${nota.estudiante}"></td>
            <td th:text="${nota.observacion}"></td>
            <td th:text="${nota.valor}"></td>

            <td>
                <a th:href="@{/api/notas/borrar/{id}(id=${nota.id})}">
                    <button class="button2" type="button" @click="$emit('change-page', 'next')" id="borra">
                        <span class="button-text">Eliminar</span>
                    </button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</body>
</html>