<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

        <h1 class="title">Lista de Personas</h1>

        <a href="/api/personas/mas" class="button2"> + </a>

        <div class="scrollable-table">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="personas-list">
            <!-- Aquí se mostrarán las personas -->
            </tbody>
        </table>
    </div>

    <script src="/js/listPerson.js"></script>

</body>
</html>
