<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Persona</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="left">
        <div th:if="${persona != null}">
            <h1> <span th:text="${persona.nombre}"></span> <span th:text="${persona.apellido}"></span></h1>
            <br />
            <p>ID: <span th:text="${persona.id}"></span></p>
            <p>Correo: <span th:text="${persona.correo}"></span></p>
            <p>Rol: <span th:text="${persona.rol}"></span></p>
        </div>
    </div>

    <div class="right">
        <h1>Notas</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Materia</th>
                <th>Profesor</th>
                <th>Estudiante</th>
                <th>Observacion</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nota : ${notas}">
                <td th:text="${nota.id}"></td>
                <td th:text="${nota.materia_id}"></td>
                <td th:text="${nota.profesor_id}"></td>
                <td th:text="${nota.estudiante_id}"></td>
                <td th:text="${nota.observacion}"></td>
                <td th:text="${nota.valor}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
